extends ../layout/index
block contenedor
    div(class="py-5")
        h2.text-center.text-2xl.font-extrabold=pagina
        .div.mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5(method = "POST" action="/carRegister")
                    div 
                        label(class="text-[#475569]" for="placa") Cuál es la placa del vehiculo:
                        input(type="text" name="placa" class="w-full p-3 border border-gray-300 rounded-md rounded-2" placeholder="Digita la placa")

                    
                    input(class="w-full bg-[#4669fa] text-gray-100 p-3 cursor-pointer hover:bg-[#708bf4]" type="submit" name="submit" value="Buscar")

                    div.flex.item-center.justify-between.mt-4
                        a(href="/cars") Ingresar Vehículo